@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the E-Bike Rental!</h1>
    <p>Register and edit information related to rentals, customers, staff, and more</p>
</div>
