@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	<a href="https://www.pexels.com/photo/a-person-riding-a-bicycle-9250858/">Bike Photo on home page by G-FORCE Bike from Pexels</a>
</p>
