@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bike by romzicon from <a href="https://thenounproject.com/browse/icons/term/bike/" target="_blank" title="Bike Icons">Noun Project</a>
</p>
